body
    {
        margin: 0;
        padding: 0;
        height: 100%;
    }
 .demo2
 {
   margin-top:18%;
 }
 .demo
	{
	background: linear-gradient(to top, rgba(0,255,0,0.3), rgba(0,255,0,0.9));
    border: 2px solid red;
    box-shadow: 0px 0px 7px grey;
    height: 290px;
    width: 250px;
    margin: auto;
    display: block;
	}

.mainbtn
		{
	
    height: 30px;
    text-align: right;
    font-size: 18px;
    box-shadow: 0 0 0 2px grey;
    font-weight: bold;
    margin-bottom: 10px;
    padding-right: 6px;
    margin-top: 10px;
    width:67%;
    border: 3px solid #e3e3e3;
    border-radius: 5px;
    background-color: #d1cece;

		}
.mainbtn:focus
{
    boder:2px solid yellow;
    box-shadow: inset 2px 2px 4px grey;
     border-radius: 5px;
     
         box-shadow: 0px 0px 11px red;
}
.button
		{
			    
    font-size: 15px;
    font-weight: bold;
    width:45px;
    height: 45px;
        box-shadow: 0 0 2px grey;
        
		}
.button1
		{
			    
    background:linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));
		}
.btn1
		{
			    
    background:linear-gradient(to top, red,red);
		}
.button2
		{
			    
    font-size: 18px;
    font-weight: bold;
    width:45px;
    height: 93px;
    box-shadow: 0 0 2px grey;
    background:linear-gradient(to top, rgba(255,0,0,0.1), rgba(255,0,0,1)); 
		}

   //media queries 
   
  
   @media (max-width:768px)    
   {
    .demo2
    {
        margin-top: 14%;
    }
   } 
    @media (max-width: 425px)    
   {
    .demo2
    {
        margin-top: 25%;
    }
   }
    @media (max-width: 375px)    
   {
    .demo2
    {
        margin-top: 27%;
    }
   }
   @media (max-width: 320px)    
   {
    .demo2
    {
        margin-top: 32%;
    }
   }